<ion-view view-title="Login" hide-back-button="true">
    <ion-content padding="true">
        <div class="card">
            <center>
                <img src="img/bg.JPG" style="width:100px; height:auto" alt="">
                <br>
                MayFresh Savings and Loans
            </center>
            <form>
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Username</span>
                        <input type="text" ng-model="user.username">

                    </label>
                    <label class="item item-input">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="user.password">
                    </label>
                    <label class="item">
                        <button class="button button-block button-assertive" type="button" ng-click="login()">
                            <i class="icon ion-key"></i>
                        </button>
                    </label>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>