<ion-view view-title="Transfer Money">
    <ion-content padding="true">

        <div class="list list-inset">
            <label class="item item-input item-select">
                <div class="input-label" style="color:#ffffff">
                    Network
                </div>
                <select>
                    <option>MTN</option>
                    <option selected>Etisalat</option>
                    <option>Glo</option>
                    <option>Airtel</option>
                </select>
            </label>
            <label class="item item-input">
                <i class="icon ion-social-usd placeholder-icon"></i>
                <input type="text" placeholder="Amount">
            </label>
            <label class="item item-input">
                <i class="icon ion-ios-telephone placeholder-icon"></i>
                <input type="text" placeholder="Phone Number">
            </label>
            <label class="item item-input">
                <i class="icon ion-social-usd placeholder-icon"></i>
                <input type="text" placeholder="Confirm Amount">
            </label>
        </div>
        <button class="button button-full button-assertive">
            Recharge
        </button>
    </ion-content>
</ion-view>